header{
    background-color: #ffe500;
    height: 4em;
    border-bottom: 2px solid #e5d850;
}
header img{
    height: 100%;
    padding: 0.75em 0em;
}
header .container-logo{
    height: 100%;
    display: inline-block;
}
header .container-titulo{
    display: inline-block;
    font-size: larger;
    color: #4b4b4b;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
